stream {
    log_format basic '$remote_addr [$time_local] '
                 '$protocol $status $bytes_sent $bytes_received '
                 '$session_time';
    upstream lightrun {
        server ${LIGHTRUN_SERVER}:443;
    }

    server {
        access_log /dev/stdout basic;
        listen 443;
        proxy_pass lightrun;
    }
}
